<!DOCTYPE html>
<html>
<head>
    <title>Donation</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.9/dist/js/uikit-icons.min.js"></script>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
            crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="global.css" />
</head>
<body>
    <div class="uk-panel uk-background-secondary uk-light uk-width-expand@s uk-text-left uk-padding-medium">
        <div class="uk-margin-left uk-margin-top uk-h2">
            <div class="title">Waterford Walks</div>
        </div>
        <div class=" uk-margin-left uk-padding-top uk-text-left uk-text-small">
            <div class="sub title">sign up to keep track of all your favourite walking spots in Waterford County
            </div>
            <br>
        </div>
    </div>
    <div class="uk-grid-collapse uk-child-width-expand@m uk-inline" uk-grid>
        <div>
            <img src="images/comeraghs1800x1000.jpg" alt="">
            <div class="uk-overlay uk-overlay-default uk-position-top">
                <ul class="uk-iconnav uk-margin-left">
                    <a href="/signup" class="uk-card-hover uk-padding-small">
                        <i
                                class="fas fa-user-cog fa-3x"
                                style="color:rgb(63, 160, 155)"
                                title="Sign up"
                                pos="bottom"
                                uk-tooltip
                        ></i>
                        <div class="uk-width-expand@m uk-text-left">
                            <div class="uk-text-muted uk-text-center" style="font-size:xx-small">sign up</div>
                        </div>
                    </a>
                    <a href="/login" class="uk-card-hover uk-padding-small">
                        <i
                                class="fas fa-user-edit fa-3x"
                                style="color:green"
                                title="Log in"
                                pos="bottom"
                                uk-tooltip>
                        </i>
                        <div class="uk-width-expand@m uk-text-left">
                            <div class="uk-text-muted uk-text-center" style="font-size:xx-small">login</div>
                        </div>
                    </a>
                </ul>

                <div class="uk-container uk-margin">
                    <div class="uk-child-width-expand  uk-flex-middle uk-text-center" uk-grid>
                        <div>
                            <div class="uk-card uk-card-default uk-card-body uk-box-shadow-large">
                                <h3 class="uk-card-title uk-text-center">Please enter details below</h3>
                                <form action="/signup" method="POST">
                                    <div class="uk-margin">
                                        <div class="uk-inline uk-width-1-1">
                                            <span class="uk-form-icon" uk-icon="icon: user"></span>
                                            <input class="uk-input uk-form-large" type="text" name="firstName"/>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-inline uk-width-1-1">
                                            <span class="uk-form-icon" uk-icon="icon: user"></span>
                                            <input class="uk-input uk-form-large" type="text" name="lastName"/>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-inline uk-width-1-1">
                                            <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                            <input class="uk-input uk-form-large" type="text" name="email"/>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <div class="uk-inline uk-width-1-1">
                                            <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                            <input class="uk-input uk-form-large" type="password" name="password"/>
                                        </div>
                                    </div>
                                    <div class="uk-margin">
                                        <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Sign
                                            up
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
</html>